Repository rafaumeu/xadrez-c, changes with the labels that .github/labeler.yml gives for each.
All labels: novato, aventureiro, mestre, documentacao, workflow, build

.github/labeler.yml:

# Configuração do labeler
novato:
  - novato.c
  - "**/novato.c"

aventureiro:
  - aventureiro.c
  - "**/aventureiro.c"

mestre:
  - mestre.c
  - "**/mestre.c"

documentacao:
  - "**/*.md"
  - "docs/**/*"

workflow:
  - ".github/**/*"

build:
  - "**/Makefile"
  - "**/*.c"
  - "*.c"

Initial commit: Add LICENSE, .gitignore, README, and GitHub configuration
  readme.md
Labels: documentacao

Initial commit: Add LICENSE, .gitignore, README, and GitHub configuration
  .github/FUNDING.yml
  readme.md
Labels: documentacao, workflow

feat(chess): implement piece movements and documentation
  include/pecas.h
  include/tabuleiro.h
  main.c
  src/pecas/bispo.c
  src/pecas/rainha.c
  src/pecas/torre.c
  tabuleiro.c
Labels: build

fix(ci): correct workflow files for GitHub Actions
  .github/workflows/c-build.yml
  .github/workflows/labeler.yml
  .github/workflows/project-automation.yml
Labels: workflow

fix: correct lint issues in source files
  include/pecas.h
  include/tabuleiro.h
  main.c
  src/pecas/bispo.c
  src/pecas/rainha.c
  src/pecas/torre.c
  tabuleiro.c
Labels: build

fix: update GitHub workflows and code formatting
  .github/workflows/release.yml
Labels: workflow

feat(chess): add Knight movement with nested loops
  .gitignore
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/tasks.json
  include/pecas.h
  include/tabuleiro.h
  main.c
  open.txt
  readme.md
  src/pecas/bispo.c
  src/pecas/cavalo.c
  src/pecas/rainha.c
  src/pecas/torre.c
  tabuleiro.c
Labels: documentacao, build

fix(ci): update workflow files for proper build and project automation
  .github/workflows/c-build.yml
  .github/workflows/project-automation.yml
Labels: workflow

fix(ci): update workflow files for proper build and project automation
  .github/workflows/c-build.yml
  .github/workflows/project-automation.yml
Labels: workflow

docs: fix README code blocks and remove open.txt
  open.txt
Labels: none

docs: fix README code blocks and remove open.txt
  .gitignore
  open.txt
  readme.md
Labels: documentacao

feat(recursion): implement master level chess piece movements
  include/pecas.h
  include/tabuleiro.h
  main.c
  src/pecas/bisco_recursivo.c
  src/pecas/bispo_loops_aninhados.c
  src/pecas/bispo_recursivo.c
  src/pecas/cavalo_complexo.c
  src/pecas/rainha_recursivo.c
  src/pecas/torre_recursivo.c
  tabuleiro.c
Labels: build

feat(recursion): implement master level chess piece movements
  include/pecas.h
  main.c
  src/pecas/bispo_loops_aninhados.c
  src/pecas/bispo_recursivo.c
  src/pecas/cavalo_complexo.c
  src/pecas/rainha_recursivo.c
  src/pecas/torre_recursivo.c
  tabuleiro.c
Labels: build

feat(recursion): implement master level chess piece movements
  .github/workflows/c-build.yml
  .github/workflows/project-automation.yml
Labels: workflow

fix: correct syntax error in bisco_recursivo.c
  src/pecas/bisco_recursivo.c
Labels: build

fix: remove duplicate bispo_recursivo implementation
  src/pecas/bisco_recursivo.c
Labels: build

fix: improve CI workflow and documentation
  .github/workflows/c-build.yml
  readme.md
Labels: documentacao, workflow

fix: improve release workflow robustness
  .github/workflows/release.yml
Labels: workflow

docs: add issue templates and contributing guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chess_piece.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
Labels: documentacao, workflow

ci: add CodeQL analysis workflow
  .github/workflows/codeql.yml
Labels: workflow

docs: update security policy and readme
  .github/SECURITY.md
  readme.md
Labels: documentacao, workflow

ci: fix CodeQL workflow with custom build steps
  .github/workflows/codeql.yml
Labels: workflow

docs: enhance project with badges and improve CodeQL workflow
  .github/workflows/codeql.yml
  readme.md
Labels: documentacao, workflow

ci: update CodeQL workflow to run on version tags
  .github/workflows/codeql.yml
Labels: workflow
